<!DOCTYPE html>
<html>
<body>
<form method="post" action="/convert">
<label for="temperature">Degrees Fahrenheit:</label>
<input type="text" name="temperature">
<input type="submit">
</form>
</body>
</html>